{% include 'common/head.html' %}
{% include 'common/top.html' %}
    <div id="Main">
        <div class="cell">
            <form action="/backstage/site" method="post">
            {% if errors %}
            <strong>{{ l10n.resolve_errors }}</strong>
            <div class="sep10"></div>
            <ul>
                {% if site_title_error %}
                <li>{{ site_title_error_message }}</li>
                {% endif %}
                {% if site_slogan_error %}
                <li>{{ site_slogan_error_message }}</li>
                {% endif %}
            </ul>
            {% endif %}
            <table cellpadding="5" cellspacing="0" border="0">
                <tr>
                    <td width="100" align="right">
                        {{ l10n.site_title }}
                    </td>
                    <td width="220" align="left">
                        <input type="text" class="sl" name="title" value="{{ site_title|escape }}" />
                    </td>
                </tr>
                <tr>
                    <td width="100" align="right">
                        {{ l10n.site_slogan }}
                    </td>
                    <td width="220" align="left">
                        <input type="text" class="sl" name="slogan" value="{{ site_slogan|escape }}" />
                    </td>
                </tr>
                <tr>
                    <td width="100" align="right">
                        {{ l10n.site_home_top }}
                    </td>
                    <td width="220" align="left">
                        <span class="fade">{{ l10n.edit_in_html }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="mle tall" name="home_top">{{ site_home_top|escape }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td width="100" align="right">
                    </td>
                    <td width="220" align="left">
                        <input type="submit" value="{{ l10n.save }}" class="btn" />
                        <a href="/notes" class="top">{{ l10n.notes }}</a>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
{% include 'common/bottom.html' %}