{% include 'common/head.html' %}
{% include 'common/top.html' %}
    <div id="Main">
        <div class="cell">
            <form action="/edit/topic/{{ topic.num }}" method="post">
            {% if errors %}
            <strong>{{ l10n.resolve_errors }}</strong>
            <div class="sep10"></div>
            <ul>
                {% if topic_title_error %}
                <li>{{ topic_title_error_message }}</li>
                {% endif %}
                {% if topic_content_error %}
                <li>{{ topic_content_error_message }}</li>
                {% endif %}
            </ul>
            <div class="sep5"></div>
            {% endif %}
            <input type="text" class="sll" name="title" value="{{ topic_title|escape }}" />
            <div class="sep5"></div>
            <textarea class="mll" name="content">{{ topic_content|escape }}</textarea>
            <div class="sep10"></div>
            <input type="submit" value="{{ l10n.modify }}" class="btn" />
            <!-- <a href="{{ l10n.upload_to }}" class="top">{{ l10n.upload_image }}</a> -->
            </form>
        </div>
    </div>
{% include 'common/bottom.html' %}