{% include 'common/head.html' %}
{% include 'common/top.html' %}
    <div id="Main">
        <div class="cell">
            <form action="/signin" method="post">
            {% if errors %}
            <strong>{{ error_message }}</strong>
            <div class="sep5"></div>
            {% endif %}
            <table cellpadding="5" cellspacing="0" border="0">
                <tr>
                    <td width="80" align="right">
                        {{ l10n.username }}
                    </td>
                    <td width="200" align="left">
                        <input type="text" class="sl" name="u" value="{{ u|escape }}" />
                    </td>
                </tr>
                <tr>
                    <td width="80" align="right">
                        {{ l10n.password }}
                    </td>
                    <td width="200" align="left">
                        <input type="password" class="sl" name="p" value="{{ p|escape }}" />
                    </td>
                </tr>
                <tr>
                    <td width="80" align="right">
                    </td>
                    <td width="200" align="left">
                        <input type="submit" value="{{ l10n.signin }}" class="btn" />
                        <a href="/signup">{{ l10n.signup }}</a>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
{% include 'common/bottom.html' %}