{% include 'common/head.html' %}
{% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/member_level_tips.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/backstage_latest_members.html' %}
        </div>
        <div id="Content">
            {% if message %}
            <div class="box">
                <div class="inner">{{ message }}</div>
            </div>
            <div class="sep20"></div>
            {% endif %}
            <div class="box">
                <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage">{{ l10n.backstage }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ one.username|escape }}</span></div>
                <div class="inner">
                    <form action="/backstage/member/{{ one.username }}" method="post">
                    {% if errors %}
                    <strong>{{ l10n.resolve_errors }}</strong>
                    <div class="sep10"></div>
                    <ul>
                        {% if one_username_error %}
                        <li>{{ one_username_error_message }}</li>
                        {% endif %}
                        {% if one_email_error %}
                        <li>{{ one_email_error_message }}</li>
                        {% endif %}
                    </ul>
                    <div class="sep10"></div>
                    {% endif %}
                    <table cellpadding="5" cellspacing="0" border="0">
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.id }}
                            </td>
                            <td width="200" align="left">
                                {{ one.num }}
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.registered_on }}
                            </td>
                            <td width="200" align="left">
                                {{ one.created|timezone:8 }}
                            </td>
                        </tr>
                        {% if one.ua %}
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.user_agent }}
                            </td>
                            <td width="200" align="left">
                                {{ one.ua|escape }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.username }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="username" value="{{ one_username|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.email }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="email" value="{{ one_email|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.avatar }}{{ l10n.avatar_large }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="avatar_large_url" value="{{ one_avatar_large_url|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.avatar }}{{ l10n.avatar_normal }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="avatar_normal_url" value="{{ one_avatar_normal_url|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.avatar }}{{ l10n.avatar_mini }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="avatar_mini_url" value="{{ one_avatar_mini_url|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.bio }}
                            </td>
                            <td width="200" align="left">
                                <textarea class="ml" name="bio">{{ one_bio|escape }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                                {{ l10n.level }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="level" value="{{ one_level|escape }}" maxlength="5" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="right">
                            </td>
                            <td width="200" align="left">
                                <input type="submit" value="{{ l10n.save }}" class="super normal button" />
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
{% include 'common/bottom.html' %}