{% include 'common/head.html' %}
{% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/backstage_siblings.html' %}
        </div>
        <div id="Content">
            {% if message %}
            <div class="box">
                <div class="inner">{{ message }}</div>
            </div>
            <div class="sep20"></div>
            {% endif %}
            <div class="box">
                <div class="cell"><div class="fr"><a href="/go/{{ node.name }}">{{ l10n.back }}</a></div><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage">{{ l10n.backstage }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage/section/{{ section.name }}">{{ section.title|escape }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ node.title|escape }}</span></div>
                <div class="inner">
                    <form action="/backstage/node/{{ node.name }}" method="post">
                    {% if errors %}
                    <strong>{{ l10n.resolve_errors }}</strong>
                    <div class="sep10"></div>
                    <ul>
                        {% if node_name_error %}
                        <li>{{ node_name_error_message }}</li>
                        {% endif %}
                        {% if node_title_error %}
                        <li>{{ node_title_error_message }}</li>
                        {% endif %}
                        {% if node_title_alternative_error %}
                        <li>{{ node_title_alternative_error_message }}</li>
                        {% endif %}
                        {% if node_category_error %}
                        <li>{{ node_category_error_message }}</li>
                        {% endif %}
                        {% if node_header_error %}
                        <li>{{ node_header_error_message }}</li>
                        {% endif %}
                        {% if node_footer_error %}
                        <li>{{ node_footer_error_message }}</li>
                        {% endif %}
                        {% if node_sidebar_error %}
                        <li>{{ node_sidebar_error_message }}</li>
                        {% endif %}
                    </ul>
                    <div class="sep10"></div>
                    {% endif %}
                    <table cellpadding="5" cellspacing="0" border="0">
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.node_name }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="name" value="{{ node_name|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.title }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="title" value="{{ node_title|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.subtitle }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="title_alternative" value="{{ node_title_alternative|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.node_categories }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="category" value="{{ node_category|escape }}" />
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.node_parent }}
                            </td>
                            <td width="200" align="left">
                                <input type="text" class="sl" name="parent_node_name" value="{{ node_parent_node_name|escape }}" maxlength="32" />
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.header }}
                            </td>
                            <td width="200" align="left">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea class="mle" name="header">{{ node_header|escape }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.footer }}
                            </td>
                            <td width="200" align="left">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea class="mle" name="footer">{{ node_footer|escape }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.sidebar }}
                            </td>
                            <td width="200" align="left">
                                <span class="fade">{{ l10n.block_tips }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <textarea class="mle tall" name="sidebar">{{ node_sidebar|escape }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.sidebar_ads }}
                            </td>
                            <td width="200" align="left">
                                <span class="fade"{{ l10n.ads_tips }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea class="mle" name="sidebar_ads">{{ node_sidebar_ads|escape }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.node_topics }}
                            </td>
                            <td width="200" align="left">
                                <strong>{{ node.topics }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                            </td>
                            <td width="200" align="left">
                                <input type="submit" value="{{ l10n.save }}" class="super normal button" />
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">{{ l10n.node_avatar }}</div>
                <div class="cell">
                    <table cellpadding="5" cellspacing="0" border="0">
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.current_avatar }}
                            </td>
                            <td width="200" align="left">
                                                {{ node|avatar:"large" }}&nbsp; 
                                                {{ node|avatar:"normal" }}&nbsp;
                                                {{ node|avatar:"mini" }}&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="inner">
                    <form enctype="multipart/form-data" action="/backstage/node/{{ node.name }}/avatar" method="post">
                    <span class="fade">{{ l10n.avatar_tip }}</span>
                    <div class="sep5"></div>
                    <table cellpadding="5" cellspacing="0" border="0">
                        <tr>
                            <td width="80" align="right">
                                {{ l10n.choose_file }}
                            </td>
                            <td width="200" align="left">
                                <input type="file" name="avatar" />
                            </td>
                        </tr>
                        <tr>
                            <td width="80" align="right">
                            </td>
                            <td width="200" align="left">
                                <input type="submit" value="{{ l10n.upload }}" class="super normal button" />
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
{% include 'common/bottom.html' %}