{% include 'common/head.html' %}
{% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="bigger"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/go/{{ node.name}}">{{ node.title|escape }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/t/{{ topic.num }}#reply{{ topic.replies }}">{{ topic.title|escape }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ l10n.edit }}{{ l10n.reply }}</span>
                </div>
                <div class="inner">
                    <form action="/edit/reply/{{ reply.num }}" method="post">
                    {% if errors %}
                    <strong>{{ l10n.resolve_errors }}</strong>
                    <div class="sep10"></div>
                    <ul>
                        {% if reply_content_error %}
                        <li>{{ reply_content_error_message }}</li>
                        {% endif %}
                    </ul>
                    <div class="sep10"></div>
                    {% endif %}
                    <textarea name="content" class="mll tall">{{ reply_content|escape }}</textarea>
                    <div class="sep10"></div>
                    <input type="submit" class="super normal button" value="{{ l10n.modify }}" />
                    <!-- <a href="{{ l10n.upload_to }}" class="top">{{ l10n.upload_image }}</a> -->
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
{% include 'common/bottom.html' %}